<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-mobsms"
    version="1.1.3">
    <name>mobsms</name>
    <description>Cordova mobsms Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,mobsms</keywords>
	
	<asset src="www/mobsms.js" target="js/mobsms.js" />
	
    <js-module src="www/mobsms.js" name="mobsms">
        <clobbers target="mobsms" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="mobsms" >
                <param name="android-package" value="com.jlg.mobsms.mobsms"/>
            </feature>
        </config-file>
        <source-file src="src/android/mobsms.java" target-dir="src/com/jlg/mobsms" />
        <source-file src="src/android/MobCommons-2017.0607.1736.jar" target-dir="libs" />
        <source-file src="src/android/MobTools-2017.0607.1736.jar" target-dir="libs" />
        <source-file src="src/android/SMSSDK-3.0.0.aar" target-dir="libs" />
		<framework src="src/android/smssdk.gradle" custom="true" type="gradleReference"/>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
			<uses-permission android:name="android.permission.READ_SMS" />
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="Mob-AppKey" android:value="29d025c53ffd1"/>
            <meta-data android:name="Mob-AppSecret" android:value="9d67b36379852a2a5cd3980ca95e44c5"/>
        </config-file>
       <!-- <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
			    <application android:name="com.mob.MobApplication"/>
		    </edit-config>-->
    </platform>
<platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="mobsms">
        <param name="ios-package" value="CDVMobSms"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVMobSms.h" />
    <source-file src="src/ios/CDVMobSms.m" />
    <!--引入framework-->
    <framework src="src/ios/MOBFoundation.framework" custom="true" />
    <framework src="src/ios/MOBFoundationEx.framework" custom="true" />
    <framework src="src/ios/SMS_SDK.framework" custom="true" />


    <framework src="libz.dylib" />
    <framework src="libicucore.dylib" />
    <framework src="MessageUI.framework" />
    <framework src="JavaScriptcore.framework" />
    <!--XCode9.1存在BUG 需手动添加下-->
    <framework src="libstdc++.dylib" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
    <framework src="AdSupport.framework" />




    
    <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
      <string>是否允许此app访问你的通讯录</string>
    </config-file>
    

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>


    <!--APIKey 请自行配置 参照高德官网-->
    <!-- <config-file target="*-Info.plist" parent="AMapApiKey">
      <string>ae90cd0a5f964ae6a9a17a3f5809b388</string>
    </config-file> -->

  </platform>

</plugin>
